<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/budha_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/budha_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".afterpaymentPoPup"></activity>
        <activity android:name=".signgetgift" />
        <activity android:name=".SignupBankdetail" />
        <activity android:name=".Contactus" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Redeem" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PaymentPage" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_NEIvYiFDMBwz4Z" />
    </application>

</manifest>